<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>id</td>
            <td>Nome do arquivo</td>
            <td>Excluir</td>
        </tr>
        {% for arquivo in arquivos %}
        <tr>
            <td>{{ arquivo.pid }}</td>
            <td>{{ arquivo.name }}</td>
            <td><a href="/excluir_img/{{ arquivo.pid }}"> X </a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('upload_tp') }}">Voltar</a>
</body>
</html>